<div class="uk-card uk-card-default" style="background-color: #yourColorHere;">
    <div class="uk-card-header">
        <div class="uk-text-small">Accounts performance</div>
        <span id="total_summary"></span>
        <div id="card_header" class="uk-text-small uk-margin-remove-top"></div>
    </div>
    <div class="uk-card-body">
        <div data-uk-grid="true" class="uk-grid-divider uk-child-width-expand uk-grid-small">
            <div class="uk-width-auto">
                <div class="uk-flex uk-flex-column uk-height-medium" style="font-size: 8px;">
                    <div id="highest_"></div>
                    <div id="mid_" class="uk-margin-auto-vertical"></div>
                    <div id="lowest_"></div>
                </div>
            </div>
            <div>
                <div id="account_fig" style="height: 300px;"></div>
                <hr />
                <div style="font-size: 8px;">Over the lifetime of the portfolio</div>
            </div>
        </div>
    </div>
    <div id="card-footer" class="uk-card-footer"></div>
</div>