<div class="uk-card uk-card-default" style="background-color: #your_custom_color;">
    <div>
        <div class="uk-card-header">
            <span class="uk-text-small">Transactions performance</span>
            <span id="total_summary"></span> <!-- Placeholder for dynamic total summary -->
            <div class="uk-text-small uk-margin-remove-top" id="card_header"></div>
            <!-- Placeholder for dynamic card header -->
        </div>
        <div class="uk-card-body">
            <div class="uk-grid-divider uk-child-width-expand uk-grid-small" data-uk-grid="true">
                <div class="uk-width-auto">
                    <div class="uk-flex uk-flex-column uk-height-small" style="font-size: 8px;">
                        <div id="legend"></div> <!-- Placeholder for dynamic legend -->
                    </div>
                </div>
                <div>
                    <div id="transact_fig" style="height: 150px;"></div> <!-- Placeholder for the transaction graph -->
                </div>
            </div>
        </div>
    </div>
</div>