.charts-css {--color-1: #88A9C3; --color-2: #CD5B45; --color-3: #5F9EA0; --color-4: #FF7F50; --color-5: #CCCCFF; margin: 0 auto;}
.area td {opacity: 0.5;}
.column {--aspect-ratio: 4 / 4;}
.bar {--aspect-ratio: 4 / 1;}
.area {--aspect-ratio: 4 / 3;}
.line {--aspect-ratio: 4 / 4;}